/* CSS Reset by Josh W. Comeau*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}


.row {
    border: 2px black solid;
}

body {
    background-color: #1f1f1f;
}

h1 {
    color: #eef0ff;
    text-align: center;
    margin: 16px;
}

#container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.first {
    color:#eef0ff;
    border: 1px grey solid;
    border-radius: 16px;
    width: 160px;
    justify-items: end;
    padding-right: 16px
}
