/* CSS Reset by Josh W. Comeau*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}




body {
    background-color: #1f1f1f;
}

h1 {
    color: #eef0ff;
    text-align: center;
    margin: 16px;
}

#container {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    margin-top: 64px;
}

.first {
    display: flex;
    flex-direction: column;
    align-items: end;
    color:#eef0ff;
    border: 1px grey solid;
    border-radius: 16px;
    width: 160px;
    height: 48px;
    padding-right: 16px;
    margin-bottom: 8px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    color:#eef0ff;
    padding: 8px 32px;
    border-radius: 16px;
    border-style: none;
    width: 50px;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.3s;
}

.btn:hover {
  background-color: #242832;
  color: white;
}

.btn:active {
  border: 0.5px grey solid;
}

.action {
    background-color: #2C303D;
}

.number {
    background-color: #333438;
}

.row {
    width: 270px;
    display: flex;
    justify-content: space-between;
}
